In [103]:
import numpy as np
import pandas as pd
np.__version__

'1.19.5'

In [104]:
pd.__version__

'1.3.2'

In [56]:
df = pd.read_csv('data.csv')

In [57]:
df.head(5)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [61]:
df['make'].value_counts()

chevrolet        1123
ford              881
volkswagen        809
toyota            746
dodge             626
nissan            558
gmc               515
honda             449
mazda             423
cadillac          397
mercedes-benz     353
suzuki            351
bmw               334
infiniti          330
audi              328
hyundai           303
volvo             281
subaru            256
acura             252
kia               231
mitsubishi        213
lexus             202
buick             196
chrysler          187
pontiac           186
lincoln           164
oldsmobile        150
land_rover        143
porsche           136
saab              111
aston_martin       93
plymouth           82
bentley            74
ferrari            69
fiat               62
scion              60
maserati           58
lamborghini        52
rolls-royce        31
lotus              29
tesla              18
hummer             17
maybach            16
alfa_romeo          5
mclaren             5
spyker              3
genesis             3
bugatti             3
Name: make, dtype: int64

In [75]:
Car_GROUPS = df.groupby(['make'])

In [76]:
BMW_GROUP = Car_GROUPS.get_group('bmw')['msrp'].mean()
BMW_GROUP

61546.76347305389

In [59]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

string_columns = list(df.dtypes[df.dtypes == 'object'].index)

for col in string_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [60]:
df.head()

,make,model,year,engine_fuel_type,engine_hp,engine_cylinders,transmission_type,driven_wheels,number_of_doors,market_category,vehicle_size,vehicle_style,highway_mpg,city_mpg,popularity,msrp
0,bmw,1_series_m,2011,premium_unleaded_(required),335.0,6.0,manual,rear_wheel_drive,2.0,"factory_tuner,luxury,high-performance",compact,coupe,26,19,3916,46135
1,bmw,1_series,2011,premium_unleaded_(required),300.0,6.0,manual,rear_wheel_drive,2.0,"luxury,performance",compact,convertible,28,19,3916,40650
2,bmw,1_series,2011,premium_unleaded_(required),300.0,6.0,manual,rear_wheel_drive,2.0,"luxury,high-performance",compact,coupe,28,20,3916,36350
3,bmw,1_series,2011,premium_unleaded_(required),230.0,6.0,manual,rear_wheel_drive,2.0,"luxury,performance",compact,coupe,28,18,3916,29450
4,bmw,1_series,2011,premium_unleaded_(required),230.0,6.0,manual,rear_wheel_drive,2.0,luxury,compact,convertible,28,18,3916,34500

In [78]:
df['make'].value_counts()

chevrolet        1123
ford              881
volkswagen        809
toyota            746
dodge             626
nissan            558
gmc               515
honda             449
mazda             423
cadillac          397
mercedes-benz     353
suzuki            351
bmw               334
infiniti          330
audi              328
hyundai           303
volvo             281
subaru            256
acura             252
kia               231
mitsubishi        213
lexus             202
buick             196
chrysler          187
pontiac           186
lincoln           164
oldsmobile        150
land_rover        143
porsche           136
saab              111
aston_martin       93
plymouth           82
bentley            74
ferrari            69
fiat               62
scion              60
maserati           58
lamborghini        52
rolls-royce        31
lotus              29
tesla              18
hummer             17
maybach            16
alfa_romeo          5
mclaren             5
spyker              3
genesis             3
bugatti             3
Name: make, dtype: int64

In [67]:
engine_hp_null_values = df[df['year'] >= 2015]['engine_hp'].isnull().sum()
engine_hp_null_values

51

In [68]:
mean_hp_before = df['engine_hp'].mean()
mean_hp_before

249.38607007176023

In [69]:
df['engine_hp'].fillna(mean_hp_before, inplace= True)

In [70]:
engine_hp_null_values_after_filling = df[df['year'] >= 2015]['engine_hp'].isnull().sum()
engine_hp_null_values_after_filling

0

In [71]:
mean_hp_after = df['engine_hp'].mean()
mean_hp_after

249.38607007176

In [72]:
print(round(mean_hp_before))
print(round(mean_hp_after))

249
249

In [81]:
Rolls_Royce_GROUP = df.groupby(['make']).get_group('rolls-royce')[["engine_hp", "engine_cylinders", "highway_mpg"]]

In [83]:
Rolls_Royce_GROUP.head(5)

      engine_hp  engine_cylinders  highway_mpg
2921      325.0               8.0           15
3505      563.0              12.0           19
5275      563.0              12.0           21
5276      563.0              12.0           21
5277      563.0              12.0           21

In [90]:
Rolls_Royce_GROUP.describe()

        engine_hp  engine_cylinders  highway_mpg
count   31.000000         31.000000    31.000000
mean   487.548387         11.870968    19.129032
std     94.666023          0.718421     2.045188
min    322.000000          8.000000    15.000000
25%    453.000000         12.000000    19.000000
50%    453.000000         12.000000    19.000000
75%    563.000000         12.000000    21.000000
max    624.000000         12.000000    21.000000

In [91]:
Rolls_Royce_GROUP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 2921 to 11450
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   engine_hp         31 non-null     float64
 1   engine_cylinders  31 non-null     float64
 2   highway_mpg       31 non-null     int64
dtypes: float64(2), int64(1)
memory usage: 992.0 bytes

In [99]:
print(Rolls_Royce_GROUP.duplicated().sum())
Rolls_Royce_GROUP.drop_duplicates(inplace= True)
print(Rolls_Royce_GROUP.duplicated().sum())

24
0

In [101]:
Rolls_Royce_GROUP.shape

(7, 3)